{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liste des clients</h1>

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
        </tr>
        {% for client in clientList %}
            <tr>
                <td> {{ client.name }} </td>
                <td> {{ client.firstName }} </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

